<!--<div data-role="view" data-title="Home View" data-layout="main" data-model="app.addCustommer" data-show="app.addCustommer.onShow" data-after-show="app.addCustommer.afterShow">
-->
<div data-role="view" data-title="Add Custommmer" data-layout="main" data-show="showAdd">
<div id="container" style="overflow:hidden;width:100%">
          <div id="inner" style="overflow:hidden;width: 100%">
              <div style="float:left;height:50px" class="separetor">
                  <p class="right_align">ID:</p>
             </div>
             <div style="float:left;height:50px" class="separetor">
                 <input class="inputBox center" id="IDTextField" placeholder="File name"/>
             </div>
             
          </div>
        <div id="inner" style="overflow:hidden;width: 100%">
              <div style="float:left;height:50px" class="separetor">
                  <p class="right_align">Name:</p>
             </div>
             <div style="float:left;height:50px" class="separetor">
                 <input class="inputBox center" id="nameTextField" placeholder="Text"/>
             </div>
             
          </div>
    </div>
        <div id="container" style="overflow:hidden;width:100%">
          <div id="inner" style="overflow:hidden;width: 100%" >
             <div style="float:left;width:50%;height:50px" class="separetor">
                  <button data-role="button" id="saveCustommereButton" class="button right_align" data-click="saveCustommer">Save</button>
             </div>
             <div style="float:left;width:50%;height:50px" class="separetor">
                  <button data-role="button" id="cancelSaveCustommerButton"class="button" id="cancelButton">Cancel</button>
             </div>
          </div>
        </div>
  
    
</div>
