<!--<div data-role="view" data-title="Home View" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
--><div data-role="view" data-title="Collection" data-layout="main" data-init="show" >

    <div class="content">
        <div id="container" style="overflow:hidden;width:100%">
          <div id="inner" style="overflow:hidden;width: 100%">
              <div class="separetor">
                  <p class="right_align">ID</p>
             </div>
             <div class="separetor">
                 <input class="inputBox center" id="idField" placeholder="ID"/>
                 <button data-role="button" class="button center" id="findButton">FIND</button>
             </div>
             
          </div>
            <div id="inner" style="overflow:hidden;width: 100%">
              <div class="separetor">
                  <p class="right_align">Name</p>
             </div>
             <div class="separetor">
                 <p id="nameField"></p>
             </div>
             
          </div>
        	<div id="inner" style="overflow:hidden;width: 100%">
             <div class="separetor">
                 <p class="right_align">Weight:</p>
             </div>
             <div class="separetor">
                  <input class="inputBox center" style="clear:both" id="weightField" placeholder="File name"/>
             </div>
          </div>
            <div id="inner" style="overflow:hidden;width: 100%">
             <div class="separetor">
                 <p class="right_align">Weight:</p>
             </div>
             <div class="separetor">
                  <input class="inputBox center" id="netWeightField" placeholder="Text"/>
             </div>
          </div>
            <div id="inner" style="overflow:hidden;width: 100%">
             <div class="separetor">
                 <p class="right_align">Weight:</p>
             </div>
             <div class="separetor">
                  <input class="inputBox center" id="ammountField" placeholder="Text"/>
             </div>
          </div>
            <div id="inner" style="overflow:hidden;width: 100%">
             <div class="separetor">
                 <p class="right_align">Weight:</p>
             </div>
             <div class="separetor">
                  <input class="inputBox center" id="advanceField" placeholder="Text"/>
             </div>
          </div>
        </div>
        <div id="container" style="overflow:hidden;width:100%">
          <div id="inner" style="overflow:hidden;width: 100%">
             <div class="separetor">
                 <button data-role="button" class="button right_align" id="writeFileButton">Save</button>
             </div>
             <div class="separetor">
                  <button data-role="button" class="button" id="cancelButton">Cancel</button>
             </div>
          </div>
        </div>
			<!--<div class="action-area ch30">
                <button class="button" id="writeFileButton">Write</button>
				<button class="button" id="readFileButton">Read</button>
				<button class="button" id="deleteFileButton">Delete</button>
                
                <button data-role="button" class="button" data-click="app.insertNewRecord">Open database</button>
    <button data-role="button" class="button" data-click="getAllTheData">Open database</button>
			</div>
			<div class="result-area ch40">
				<div class="results">
                    <div id="result" class="desc"></div>
                </div>
                <div class="separator"></div>
			</div>
		</div>-->
    
</div>
