<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
  <div data-role="view" data-title="Tea Collection" data-layout="main" data-init="showEddit" >

    <div class="content" style="margin-top: 5%;">
        <div id="container" style="overflow:hidden;width:100%">
          <div id="inner" style="overflow:hidden;width: 100%">
              <div class="separetorLeft">
                  <p class="right_align">ID:</p>
             </div>
             <div class="separetor">
                 <input class="inputBox center" id="IDTextFieldEddit" placeholder="ID" type="number"/>
                 <button data-role="button" class="button center inputButton" id="findButtonEddit">FIND</button>
             </div>
             
          </div>
            <div id="inner" style="overflow:hidden;width: 100%">
              <div class="separetorLeft">
                  <p class="right_align">Name:</p>
             </div>
             <div class="separetor">
                 <p id="nameField"></p>
             </div>
             
          </div>
        </div>
        <li id="collection_list"></li>
      <div id="container" style="overflow:hidden;width:100%">
          <div id="inner" style="overflow:hidden;width: 100%">
             <div class="separetor">
                 <button data-role="button" class="button right_align" id="writeFileButton">SAVE</button>
             </div>
             <div class="separetor">
                  <button data-role="button" class="button" id="cancelButton">CANCEL</button>
             </div>
          </div>
        </div>
     </div>
      
      </div>
      <script type="text/x-kendo-template" id="collection_list_Template">
                <div data-align='left' style='max-width:70%; float:left;'>
                    <h1 style='font-size:13px !important'><b>${added_date}</b></h1>
                    <h1>${weight},</h1>
                     <h1>${net_weight}.</h1>
                    <h1 style='display:none'>${ID}.</h1>
                    <h1>${advance}</h1>
                </div>
        </script>
        
        
    </body>
</html>